<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link type="image/x-icon" rel="icon" href="/icon/Ch.ico" th:href="@{/icon/Ch.ico}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Hello</title>
</head>

    <body>
        <t1>Hello page</t1>
    </body>

</html>