<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/registration.css" th:href="@{/css/registration.css}">
    <link type="text/css" rel="stylesheet" href="/css/field.css" th:href="@{/css/field.css}">
    <link type="text/css" rel="stylesheet" href="/css/button.css" th:href="@{/css/button.css}">
    <link type="text/css" rel="stylesheet" href="/css/footer.css" th:href="@{/css/footer.css}">
    <link type="text/css" rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
    <link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" href="/css/error.css" th:href="@{/css/error.css}">
    <link type="image/x-icon" rel="icon"  href="/icon/Ch.ico" th:href="@{/icon/Ch.ico}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Registration</title>
</head>

    <body class="grid-box">

        <div class="headers" th:insert="~{header.html :: header}"></div>

        <div class="left">

            <form class="grid-box-left-layer" action="#" th:action="@{/reg}" method="post">
                    <div class="layer1">

                    </div>

                    <div class="layer2">
                        <div class="box-recaptcha">
                            <div class="g-recaptcha" data-sitekey="6LedrJwiAAAAAHf14XUPpDvZwhwP4HQg4mo4-E0K"></div>
                        </div>
                    </div>

                    <div class="layer3">

                    </div>
            </form>

        </div>

        <div class="middle">
            <h3>Your details:</h3>
            <form class="form-grid-container" action="#" th:action="@{/registration}" th:object="${user}" method="post">
                <div class="text-layer">
                    <label name="login" for="login">Login:</label>
                    <label for="firstName">First name:</label>
                    <label for="lastName">Last name:</label>
                    <label for="patronymic">Patronymic:</label>
                    <label name="gender" for="gender">Sex:</label>
                    <label for="birthday">Birthday:</label>
                    <label name="mail" for="mail">Emal:</label>
                    <label for="phone">Phone:</label>
                    <label for="password">Password:</label>
                </div>

                <div class="field-layer">

                    <input class="field-reg" th:errorclass="field-rerError" type="text" id="login" th:field="*{login}" placeholder="Your login..">

                    <input class="field-reg" type="text" id="firstName" th:field="*{name}" placeholder="Your first name.." required>

                    <input class="field-reg" type="text" id="lastName" th:field="*{surname}" placeholder="Your surname .." required>

                    <input class="field-reg" type="text" id="patronymic" th:field="*{patronymic}" placeholder="Your patronymic.." required>

                    <select class="field-reg" th:field="*{gender}" id="gender">
                        <option th:value="'mail'" th:text="male"></option>
                        <option th:value="'female'" th:text="female"></option>
                    </select>

                    <input class="field-reg" type="date" id="birthday" th:field="*{birthday}" required>

                    <input class="field-reg" th:errorclass="field-rerError" type="email" id="mail" th:field="*{mail}" placeholder="Your mail.." required>

                    <input class="field-reg" th:errorclass="field-rerError" type="text" id="phone" th:field="*{phone}" placeholder="Your phone.." required>

                    <input class="field-reg" type="password" id="password" th:field="*{password}" placeholder="Your password.." required>

                </div>

                <div class="button-layer">
                    <button class="btn-reg" type="submit" id="Registration">Registration</button>
                    <input class="btn-reg" type="button" id="Back" value="Back" onClick='location.href="http://localhost:8080/www/login"'>
                </div>
            </form>
        </div>

        <div class="right">
            <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
                <div class="errors" th:if="${#fields.hasErrors('*')}">
                    <p class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
            </form>
        </div>

        <div class="footer" th:insert="~{footer.html :: footer}"></div>
    </body>
</html>